{# TrailWarehouse > AppBundle > Resources > views > account.html.twig #}

{% extends 'TrailWarehouseAppBundle::layout.html.twig' %}


{% block title %}
  {{ parent() }} : Mon espace perso
{% endblock %}


{% block page_main %}
  <main id="page-account">

    {% if tabs is defined %}
      {{ include('bootstrap/nav.html.twig', { 'tabs' : tabs, 'type' : 'pills' }) }}
    {% endif %}

    <div class="tab-content">

      {{ include('TrailWarehouseAppBundle:Account:Tab/profile.html.twig') }}
      {{ include('TrailWarehouseAppBundle:Account:Tab/orders.html.twig') }}
      {{ include('TrailWarehouseAppBundle:Account:Tab/addresses.html.twig') }}

    </div>


  </main>

  <div id="data">
    <input id="bill-url" type="hidden" value="{{ url('app_order') }}">
  </div>

{% endblock %}

{% block additional_javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/account.js') }}"></script>
{% endblock %}
