{# TrailWarehouse > AppBundle > Resources > views > Shop > family.html.twig #}

{% extends "TrailWarehouseAppBundle::layout.html.twig" %}


{% block title %}
  {{ parent() }} : Mon panier
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bower_components/angular/angular.min.js') }}"></script>
{% endblock %}

{% block page_main %}
  <main id="page-cart" class="page-content bg-white">

      <div id="ng-data">
        <input type ="hidden" data-ng-init="page.CART_URL  = '{{ url('app_cart') }}'">
        <input type ="hidden" data-ng-init="page.API_URL   = '{{ url('app_api_product_get_all') }}'">
        <input type ="hidden" data-ng-init="page.ASSET_URL = '{{ asset('') }}'">
      </div>

      <!-- # Cart -->
      <div id="cart">

        <!-- # Heading -->
        <div class="heading-container heading-container-blue">
          <h3 class="heading">Mon panier</h3>
        </div>
        <!-- Heading # -->

        <div id="cart-content" class="px-4 pb-2">
          {% set cart = app.session.get('cart') %}
          <!-- # Cart content -->
          {% if cart is empty or cart.items is empty %}
            <div class="pb-4">
            <div class="ness-block info mx-auto mb-3 d-flex justify-content-center w-50">
              <span>Votre panier est vide</span>
            </div>
            <div class="mx-auto d-flex justify-content-center align-items-baseline">
              <span class="mr-1">Visitez notre boutique</span>&nbsp;<strong class="font-weight-normal"><a class="font-brand" href="{{ path('app_home') }}">Trail Warehouse</a></strong>
            </div>
          </div>
          {% else %}
            {% for message in app.flashes('cart_warning') %}
              <div class="ness-block warning mb-3">
                <span>{{ message | raw }}</span>
              </div>
            {% endfor %}

            <div class="table-container">

              <!-- # Cart Items -->
              <table id="table-cart" class="ness-table mb-4">
                <thead>
                  <tr class="font-fira-sans-bold">
                    <th class="">Produit</th>
                    <th class="">Prix unitaire</th>
                    <th class="">Quantité</th>
                    <th class="">Sous-total</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in cart.items|sort %}
                  <tr>
                    <td class="text-left">
                      <div class="d-flex justify-content-start align-items-center">
                        <!-- # Item Image -->
                        <img class="miniature mr-2" src="{{ item.product.imageName is empty ? asset('images/no_picture.png') : item.product.imageName }}" alt="">
                        <!-- Item Image # -->
                        <!-- # Item Data -->
                        <div class="">
                          <a href="{{ path('app_shop_family', { 'slug' : item.product.family.slug }) }}">
                            <div class="">
                              <span class="font-italic">{{ item.product.family.brand.name | ucwords }}</span>
                              <span>{{ item.product.family.name | capitalize }}</span>
                            </div>
                          </a>
                          <span>({{ item.product.size.value | upper }} {{ item.product.size.unitShortcut }} | {{ item.product.color.name | capitalize }})</span>
                        </div>
                        <!-- Item Data # -->
                      </div>
                    </td>
                    <td class="text-right">{{ item.product.price }}&nbsp;€</td>
                    <td class="text-right">
                      <div class="d-flex justify-content-end">

                        <div class="input-number input-group justify-content-start mr-1">
                          <input type="text" class="input-quantity form-control" name="input-quantity" value="{{ item.quantity }}">
                          <div class="input-group-addon" data-action="decrease">-</div>
                          <div class="input-group-addon" data-action="increase">+</div>
                        </div>

                        <form class="d-flex" id="update-product-{{ item.product.id }}" action="{{ path('app_cart_update_item') }}" method="post">
                          <input type="hidden" name="hidden-product-id" value="{{ item.product.id }}">
                          <input type="hidden" name="hidden-quantity" value="{{ item.quantity }}">
                          <button data-action="update" class="btn btn-info mr-1 d-flex align-items-center invisible font-size-8 text-white">
                            Mettre à jour
                          </button>
                        </form>

                        <form class="d-flex" id="remove-product-{{ item.product.id }}" action="{{ path('app_cart_remove_item') }}" method="post">
                          <input type="hidden" name="hidden-product-id" value="{{ item.product.id }}">
                          <input type="hidden" name="hidden-quantity" value="{{ item.quantity }}">
                          <button class="btn btn-danger mr-1 d-flex align-items-center font-size-8 text-white">
                            Supprimer
                          </button>
                        </form>

                      </div>
                    </td>
                    <td class="text-right">{{ item.total }}&nbsp;€</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- Cart Items # -->

            </div>

            <div class="row justify-content-between">
              <div class="col-12 col-sm-6 col-md-4">

                <!-- # Promo Form -->
                <div id="cart-promo" class="mx-auto mb-2  d-flex flex-column align-items-start">
                  {{ form_start(promo_form) }}
                    <div class="form-group mb-3">
                      {% include 'TrailWarehouseAppBundle:Error:alerts.html.twig' %}
                      {{ form_widget(promo_form.code, {'attr': {'class': 'form-control', 'placeholder': 'Un code promo ?'}}) }}
                    </div>
                    <div class="form-group mb-4">
                      {{ form_widget(promo_form.send, {'attr': {'class':'btn btn-default'}}) }}
                    </div>
                    {{ form_rest(promo_form) }}
                  {{ form_end(promo_form) }}
                </div>
                <!-- Promo Form # -->

              </div>
              <div class="col-12 col-md-6">

                {% if cart.promo is not empty %}
                  <!-- # Active Promo Code -->
                  <div class="ness-block info d-flex justify-content-center mb-2">
                    <div>{{ cart.promo.code }} : <span class="font-weight-bold">-&nbsp;{{ cart.promo.value * 100 }}&nbsp;%</span></div>
                  </div>
                  <!-- Active Promo Code # -->
                {% endif %}

                <!-- # Cart Total -->
                <div id="cart-total" class="mb-3">
                  <!-- # HT -->
                  <div class="d-flex justify-content-end align-items-baseline mb-1">
                    <div class="mr-2">Total&nbsp;(HT)&nbsp;:&nbsp;</div>
                    {% if cart.promo is not empty %}
                      <div class="mr-2"><strike>{{ (cart.baseTotal / (1 - cart.promo.value))|number_format(2, '.', ',') }}&nbsp;&euro;</strike></div>
                    {% endif %}
                    <div class="font-fira-sans-bold">{{ cart.baseTotal|number_format(2, '.', ',') }}&nbsp;&euro;</div>
                  </div>
                  <!-- # TVA -->
                  <div class="d-flex justify-content-end align-items-baseline mb-3">
                    <div class="mr-2">TVA&nbsp;:&nbsp;</div>
                    <div class="">{{ (cart.vat.value * 100)|number_format(2, '.', ',') }}%</div>
                  </div>
                  <!-- # TTC -->
                  <div class="d-flex justify-content-end align-items-baseline mb-1">
                    <div class="lead mr-2">Total&nbsp;(TTC)&nbsp;:&nbsp;</div>
                    {% if cart.promo is not empty %}
                      <div class="mr-3"><strike>{{ (cart.finalTotal / (1 - cart.promo.value))|number_format(2, '.', ',') }}&nbsp;&euro;</strike></div>
                    {% endif %}
                    <div class="font-fira-sans-bold lead"><span>{{ cart.finalTotal|number_format(2, '.', ',') }}&nbsp;&euro;</span></div>
                  </div>
                </div>
                <!-- Cart Total # -->

                <!-- # Cart Validation -->
                <div id="cart-validation" class="flex justify-content-end mb-2">
                  <a href="{{ path('app_cart_checkout') }}" class="ness-btn btn btn-confirm txt-whitegrey w-100">Valider mon panier</a>
                </div>
                <!-- Cart Validation # -->

              </div>
            </div>
          {% endif %}
          <!-- Cart content # -->
        </div>

      </div>
      <!-- Cart # -->

  </main>
{% endblock %}

{% block additional_javascripts %}
  <script src="{{ asset('js/app-common.js') }}"></script>
  <script src="{{ asset('js/cart.js') }}"></script>
{% endblock %}
