{# TrailWarehouse > AppBundle > Resources > views > Shop > family.html.twig #}

{% extends "TrailWarehouseAppBundle::layout.html.twig" %}


{% block title %}
  {{ parent() }} : Mon panier
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bower_components/angular/angular.min.js') }}"></script>
{% endblock %}

{% block page_nav %}{% endblock %}

{% block page_main %}

  <!-- # Address -->
  <main id="page-order-address" class="bg-white">

      <!-- # Heading -->
      <div class="heading-container heading-container-blue">
        <h3 class="heading">Coordonnées</h3>
      </div>
      <!-- Heading # -->

      <!-- # Flashes -->
      <div class="d-flex block mb-3">
        {{ include('TrailWarehouseAppBundle:Error:alerts.html.twig') }}
      </div>

      <div class="page-content mx-auto px-3 row">

        <div class="col-12 col-md-6 col-xl-5">

          <!-- # Form Container -->
          <div class="form-container mb-5 rounded">

            <!-- # Form title -->
            <div class="col-12 mb-3">
              <h2>Ajouter une nouvelle adresse</h2>
            </div>
            <!-- Form title # -->

            <!-- # Col -->
            <div class="col-12">

              <!-- # Address Form -->
              {{ form_start(address_form) }}

                <!-- # Title -->
                <div class="form-group mb-4">
                  {{ form_label(address_form.title) }}
                  <div class="input-group">
                    <div class="input-group-addon">@</div>
                    {{ form_widget(address_form.title, {'attr': {'class': 'form-control', 'placeholder': 'Titre' }}) }}
                  </div>
                </div>
                <!-- Address # -->

                <!-- # Address -->
                <div class="form-group mb-4">
                  {{ form_label(address_form.address) }}
                  <div class="input-group">
                    <div class="input-group-addon">@</div>
                    {{ form_widget(address_form.address, {'attr': {'class': 'form-control', 'placeholder': 'Adresse' }}) }}
                  </div>
                </div>
                <!-- Address # -->

                <!-- # Zipcode -->
                <div class="form-group mb-4">
                  <div class="d-flex justify-content-start align-items-baseline">
                    {{ form_label(address_form.zipcode) }}
                  </div>
                  <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                    {{ form_widget(address_form.zipcode, {'attr': {'class': 'form-control', 'placeholder': 'Code postal'}}) }}
                  </div>
                </div>
                <!-- Zipcode # -->

                <!-- # City -->
                <div class="form-group mb-4">
                  <div class="d-flex justify-content-start align-items-baseline">
                    {{ form_label(address_form.city) }}
                  </div>
                  <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                    {{ form_widget(address_form.city, {'attr': {'class': 'form-control', 'placeholder': 'Code postal'}}) }}
                  </div>
                </div>
                <!-- City # -->

                <!-- # Submit -->
                <div class="col-12 d-flex justify-content-center justify-content-sm-end align-items-baseline">
                  {{ form_widget(address_form.save, {'attr': {'class':'btn btn-confirm w-100'}}) }}
                </div>
                <!-- Submit # -->

                {{ form_rest(address_form) }}

              {{ form_end(address_form) }}

            </div>
            <!-- Col # -->

          </div>
          <!-- Form Container # -->

        </div>

        <!-- # Col Address -->
        <div class="col-12 col-md-6 col-xl-7">

          <!-- # Select Address -->
          <div id="addresses">
            <div class="block">

              <!-- # Card -->
              <div class="card">

                <!-- # Card Header -->
                <div class="card-header">
                  <h3 class="mb-0">Sélectionner une adresse</h3>
                </div>
                <!-- Card Header # -->

                <!-- # Card Block -->
                <div class="card-block">

                  <!-- # Select Address Form -->
                  <div class="form-container bg-white no-border w-100 mx-auto mb-5">
                    {{ form_start(order_form, {'attr': {'id':'address-form'}}) }}

                      <div class="btn-group mb-4" data-toggle="buttons" id="address-radio">
                        {% for child in order_form.address.children %}
                          <label class="btn btn-alt">
                            <input
                              type         = "radio"
                              id           = "{{ child.vars.id }}"
                              name         = "{{ child.vars.full_name }}"
                              value        = "{{ child.vars.value }}"
                              autocomplete = "off"
                            >{{ child.vars.label }}
                          </label>
                        {% endfor %}
                      </div>

                      {% do order_form.address.setRendered %}

                      <div id="user-addresses">
                        <div id="no-address" class="ness-block info mb-5">
                          <span>Aucune addresse sélectionnée</span>
                        </div>
                        {% for address in app.user.address %}
                        <div id="address-{{ address.id }}" class="address ness-block info mb-5 hide">
                          <h4 class="card-title font-weight-bold">{{ address.title }}</h4>
                          <dl class="card-text">
                            <dd>{{ address.address }}</dd>
                            <dd>{{ address.zipcode }}</dd>
                            <dd>{{ address.city | upper }}</dd>
                          </dl>
                        </div>
                        {% endfor %}
                      </div>

                      <div class="form-group">
                        {{ form_widget(order_form.send) }}
                      </div>


                      {{ form_rest(order_form) }}
                    {{ form_end(order_form) }}
                  </div>
                  <!-- Select Address Form # -->

                </div>
                <!-- Card Block # -->

              </div>
              <!-- Card # -->

            </div>
          </div>
          <!-- Select Address # -->

        </div>
        <!-- Col Address # -->

      </div>

  </main>
  <!-- Address # -->

{% endblock %}

{% block additional_javascripts %}
  <script src="{{ asset('js/app-common.js') }}"></script>
  <script src="{{ asset('js/order.js') }}"></script>
{% endblock %}
