{# TrailWarehouse > AppBundle > Resources > views > Shop > index.html.twig #}

{% extends "TrailWarehouseAppBundle::layout.html.twig" %}


{% block title %}
  {{ parent() }} : Accueil
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bower_components/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
{% endblock %}

{% block page_main %}
  <main id="page-shop">

    {% block name %}{% endblock %}

    <!-- News HERE -->

    {% for category_name, families in selections %}
      <!-- # Sélections du moment -->
      <div class="category-selection" class="col-12">

        <!-- # Sélection -->
        <div class="selection p-3">
          <div class="row justify-content-center">
            <h2 class="border-bottom mb-4">Top Ventes {{ category_name|capitalize }}</h2>
          </div>
          <div class="row">

            {% for family in families %}
            <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-0 d-flex justify-content-center">
              <div class="image-container wrapper">
                {% if family.visuels|length == 0 %}
                  <img src="{{ asset('images/no_picture.png') }}" alt="" class="rounded mx-auto img-fluid">
                {% else %}
                  <img src="{{ vich_uploader_asset(family.visuels[0], 'imageFile') }}" alt="{{ family.name|capitalize }}">
                {% endif %}
              </div>
            </div>
            {% endfor %}

          </div>

        </div>
        <!-- Sélection # -->

      </div>
      <!-- Sélections du moment # -->

    {% endfor %}

    <!-- # Brands -->
    <div id="brands" class="container p-3">
      <div class="row justify-content-center">
        <h2 class="border-bottom mb-4">Marques</h2>
      </div>
      <div class="row px-3">
      {% if brands is not empty %}
        {% for brand in brands %}
          <div class="brand image-container wrapper col d-flex justify-content-center align-items-center">
            <a href="#" class="">
              <img src="{{ vich_uploader_asset(brand, 'imageFile') }}" alt="Logo {{ brand.name|capitalize }}" class="round img-fluid mx-auto d-block">
            </a>
          </div>
        {% endfor %}
      {% endif %}
      </div>
    </div>
    <!-- Brands # -->

  </main>
{% endblock %}

{% block additional_javascripts %}
  <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}
