{# TrailWarehouse > AppBundle > Resources > views > layout.html.twig #}

{% extends "::base.html.twig" %}


{% block title %}
Trail Warehouse
{% endblock %}


{% block meta_author %}
Mickaël LAO-PANE
{% endblock %}


{% block meta_description %}
Trail Warehouse : Boutique en ligne spécialisée dans l'équipement de trail.
Commandez dès maintenant chez Trail Warehouse et faites-vous livrer à domicile ou sur votre lieu de travail.
{% endblock %}


{% block meta_keywords %}
equipement, course à pied, running, randonnée, nature, chaussure, vêtement, boutique en ligne, e-shop, trail, warehouse, trailwarehouse
{% endblock %}


{% block body_bg_url %}{{ asset('images/page1.jpg') }}{% endblock %}
{% block body_bg_color %}{{ '' }}{% endblock %}


{% block stylesheets %}
  <link href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('bower_components/ness/css/ness.css') }}" rel="stylesheet">
  <link href="{{ asset('css/style.css') }}" rel="stylesheet">
{% endblock %}


{% block javascripts %}
  <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ asset('bower_components/ness/dist/ness.js') }}"></script>
  <script src="{{ asset('bower_components/tether/dist/js/tether.min.js') }}" rel="stylesheet"></script>
  <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}" rel="stylesheet"></script>
  <script src="{{ asset('js/header.js') }}" rel="stylesheet"></script>
{% endblock %}


{% block page_header %}
  <!-- # Page Header -->
  <header data-bg-url="{{ asset('images/header.jpg') }}">

    <!-- # Mask -->
    <div class="mask" data-opacity="0.65"></div>
    <!-- Mask # -->

    <!-- # Navbar -->
    {% include 'TrailWarehouseAppBundle::navbar.html.twig' %}
    <!-- Navbar # -->

  </header>
  <!-- Page Header # -->
{% endblock %}

{% block page_nav %}
  <!-- # Page Navigation -->
  <nav id=menu-category class="container">
    {% block menu_category %}
    {{ render(controller('TrailWarehouseAppBundle:Shop:menu')) }}
    {% endblock %}
  </nav>
  <!-- Category Navigation # -->
{% endblock %}

{% block page_main %}
  <!-- # Page Main -->
  <main class="container">
    <div class="jumbotron">
      "block page_main" -> Please override it
    </div>
  </main>
  <!-- Page Main # -->
{% endblock %}

{% block page_footer %}
  <!-- # Page Footer -->
  <footer data-bg-url="{{ asset('images/header.jpg') }}">
    <div class="ness-mask" data-opacity="0.80"></div>
    <div id="footer-content" class="row justify-content-center">
      <a href="{{ path('app_shop') }}">TrailWarehouse</a>&nbsp;&copy;&nbsp;<span>2017</span>
      &nbsp;-&nbsp;<a href="{{ path('app_home_contact') }}">Contact</a>
      &nbsp;-&nbsp;<a href="{{ path('app_home_mentions') }}">Mentions&nbsp;légales</a>
      &nbsp;-&nbsp;<a href="{{ path('app_home_about') }}">A propos</a>
    </div>
  </footer>
  <!-- Page Footer # -->
{% endblock %}
