{# TrailWarehouse > AppBundle > Resources > views > navbar.html.twig #}

<nav class="navbar ness-txt-white">

  <!-- # Brand -->
  <a id="brand" class="navbar-brand" href="{{ path('app_shop') }}">
    <span id="brand-trail">Trail</span>&nbsp;<span id="brand-warehouse">Warehouse</span>
  </a>
  <!-- Brand # -->

  <div id="menu-container" class="">

    <!-- # User Navigation -->
    <nav id="menu-user" class="col-12 col-lg">
      {% block user_nav %}
        {% if app.user is empty %}

        <!-- # Guest Menu -->
        <ul id="menu-user-list">
          <li class="nav-item">
            <a href="{{ path('app_signup') }}" title="Inscription" data-toggle="" data-target="#signup-modal">
              <span class="glyphicon glyphicon-pencil"></span><span>Inscription</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ path('app_signin') }}" title="Connexion" data-toggle="modal" data-target="#signin-modal">
              <span class="glyphicon glyphicon-user"></span>&nbsp;<span>Connexion</span>
            </a>
            {% include 'TrailWarehouseAppBundle:User:signin_modal.html.twig' %}
          </li>
          <li class="nav-item">
            <a href="{{ path('app_shop_cart') }}" title="Voir mon panier">
              <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;<span>Panier</span>
            </a>
          </li>
        </ul>
        <!-- Guest Menu # -->

        {% else %}
          <!-- # User Menu -->
          <ul id="menu-user-list">
            <li class="nav-item">
              <a href="{{ path('app_account') }}" title="Inscription" data-toggle="" data-target="#signup-modal">
                <span class="glyphicon glyphicon-pencil"></span><span>Mon compte</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ path('app_signout') }}" title="Connexion">
                <span class="glyphicon glyphicon-user"></span>&nbsp;<span>Déconnexion</span>
              </a>
              {% include 'TrailWarehouseAppBundle:User:signin_modal.html.twig' %}
            </li>
            {% if app.user.role == 'ROLE_USER' %} {# Cart #}
              <li class="nav-item">
                <a href="{{ path('app_shop_cart') }}" class="p-1" title="Voir mon panier">
                  <img id="img-cart" src="{{ asset('images/cart.png') }}">
                </a>
              </li>
            {% else %} {# Administration #}
              <li class="nav-item">
                <a href="{{ path('easyadmin') }}" title="Administration">
                  <span>Administration</span>
                </a>
              </li>
            {% endif %}
          </ul>
        <!-- # User Menu -->
        {% endif %}
      {% endblock %}
    </nav>
    <!-- User Navigation # -->

  </div>

</nav>
