{# TrailWarehouse > AppBundle > Resources > views > navbar.html.twig #}

{% set cart = app.session.get('cart') %}

<nav class="navbar ness-txt-white">

  <!-- # Brand -->
  <a id="brand" class="navbar-brand" href="{{ path('app_home') }}">
    <span id="brand-trail">Trail</span>&nbsp;<span id="brand-warehouse">Warehouse</span>
  </a>
  <!-- Brand # -->

  <div id="menu-container" class="">

    <!-- # User Navigation -->
    <nav id="menu-user" class="col-12 col-lg">
      {% block user_nav %}
        <ul id="menu-user-list">

          {% if app.user is empty %}
            <!-- # Guest Nav Items -->
            <li class="nav-item">
              <a href="{{ path('app_signup') }}" title="Inscription">
                <span class="glyphicon glyphicon-pencil"></span><span>Inscription</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ path('app_signin') }}" title="Connexion">
                <span class="glyphicon glyphicon-user"></span>&nbsp;<span>Connexion</span>
              </a>
            </li>
            <!-- Guest Nav Items # -->
          {% endif %}

          {% if app.user is empty or app.user.role == 'ROLE_USER' %} {# Cart #}
            <!-- # Client Nav Items -->
            <li class="nav-item">
              <a href="{{ path('app_cart') }}" title="Voir mon panier" class="d-flex">
                <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;
                <span class="mr-1">Panier</span>&nbsp;
                <span id="cart-count" class="rounded-circle">
                  {{ cart is not empty ? cart.items | length : 0 }}
                </span>
              </a>
            </li>
            <!-- Client Nav Items # -->
          {% else %} {# Administration #}
            <li class="nav-item">
              <a href="{{ path('easyadmin') }}" title="Administration">
                <span class="glyphicon glyphicon-cloud"></span>&nbsp;<span>Administration</span>
              </a>
            </li>
          {% endif %}

          {% if app.user is not empty %}
            <!-- # User Nav Items -->
            <li class="nav-item">
              <a href="{{ path('app_account') }}" title="Inscription">
                <span class="glyphicon glyphicon-user"></span><span>Mon compte</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ path('app_signout') }}" title="Connexion">
                <span class="glyphicon glyphicon-log-out"></span>&nbsp;<span>Déconnexion</span>
              </a>
            </li>
          {% endif %}
          <!-- # User Nav Items -->
        </ul>
      {% endblock %}
    </nav>
    <!-- User Navigation # -->

  </div>

</nav>
