{# TrailWarehouse > AppBundle > Resources > views > navbar.html.twig #}

<nav class="navbar ness-txt-white">

  <!-- # Brand -->
  <a id="brand" class="navbar-brand" href="{{ path('app_shop') }}">
    <span id="brand-trail">Trail</span>&nbsp;<span id="brand-warehouse">Warehouse</span>
  </a>
  <!-- Brand # -->

  <div id="menu-container" class="">

    <!-- # User Navigation -->
    <nav id="menu-user" class="col-12 col-lg">
      {% block user_nav %}
      <ul id="menu-user-list">
        <li class="nav-item">
          <a href="{{ path('app_signup') }}" title="Inscription" data-toggle="" data-target="#signup-modal">
            <span class="glyphicon glyphicon-pencil"></span><span>Inscription</span>
          </a>
          {% include 'TrailWarehouseAppBundle:User:signup_modal.html.twig' %}
        </li>
        <li class="nav-item">
          <a href="{{ path('app_signin') }}" title="Connexion" data-toggle="modal" data-target="#signin-modal">
            <span class="glyphicon glyphicon-user"></span>&nbsp;<span>Connexion</span>
          </a>
          {% include 'TrailWarehouseAppBundle:User:signin_modal.html.twig' %}
        </li>
        <li class="nav-item">
          <a href="{{ path('app_shop_cart') }}" title="Voir mon panier">
            <img id="img-cart" src="{{ asset('images/cart.png') }}">
          </a>
          {% include 'TrailWarehouseAppBundle:Shop:cart_modal.html.twig' %}
        </li>
      </ul>
      {% endblock %}
    </nav>
    <!-- User Navigation # -->

  </div>

</nav>
