{# TrailWarehouse > AppBundle > Resources > views > signin.html.twig #}

{% extends 'TrailWarehouseAppBundle::layout.html.twig' %}


{% block title %}
  {{ parent() }} : Connexion
{% endblock %}


{% block page_main %}
  <main id="page-signin">

    <!-- # Form Container -->
    <div class="form-container mx-auto mb-5">

      <!-- # Signin Form -->
      {{ form_start(form) }}
        {{ form_errors(form) }}

        <!-- # Row -->
        <div class="row">

          <!-- # Col -->
          <div class="col-12">

            <!-- # E-mail -->
            <div class="form-group mb-4">
              {{ form_label(form.email, 'Adresse électronique*') }}
              <div class="input-group">
                <div class="input-group-addon">@</div>
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Adresse électronique'}}) }}
              </div>
            </div>
            <!-- E-mail # -->

            <!-- # Password -->
            <div class="form-group mb-4">
              {{ form_label(form.password, 'Mot de passe*') }}
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
              </div>
            </div>
            <!-- Password # -->

          </div>
          <!-- Col # -->

        </div>
        <!-- Row # -->

        <!-- # Submit -->
        {{ form_widget(form.envoyer, {'attr': {'class':'btn btn-confirm'}}, 'S\'inscrire') }}
        <!-- Submit # -->

        {{ form_rest(form) }}

      {{ form_end(form) }}
      <!-- Signin Form # -->

    </div>
    <!-- Form Container # -->

  </main>
{% endblock %}
