{# TrailWarehouse > AppBundle > Resources > views > form.html.twig #}

{% extends 'TrailWarehouseAppBundle::layout.html.twig' %}


{% block title %}
  {{ parent() }} : Inscription
{% endblock %}


{% block page_main %}
  <main id="page-signup" class="px-7">

    <!-- # Form Container -->
    <div class="form-container mx-auto mb-5">

      <!-- # Signup Form -->
      {{ form_start(form) }}
        {{ form_errors(form) }}

        <!-- # Row -->
        <div class="row">

          <div class="col-12 mb-2">
            <h1>Création de votre compte</h1>
          </div>

          <div class="col-12 mb-2">
            <h3>Identité</h3>
          </div>

          <!-- # Col -->
          <div class="col-12 col-md-6">

            <!-- # Firstname -->
            <div class="form-group mb-4">
              {{ form_label(form.firstname, 'Prénom*') }}
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                {{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
              </div>
            </div>
            <!-- Firstname # -->

            <!-- # Lastname -->
            <div class="form-group mb-4">
              {{ form_label(form.lastname, 'Nom de famille*') }}
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                {{ form_widget(form.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Nom de famille'}}) }}
              </div>
            </div>
            <!-- Lastname # -->

          </div>
          <!-- Col # -->

          <!-- # Col -->
          <div class="col-12 col-md-6">

            <!-- # E-mail -->
            <div class="form-group mb-4">
              {{ form_label(form.email, 'Adresse électronique*') }}
              <div class="input-group">
                <div class="input-group-addon">@</div>
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Adresse électronique'}}) }}
              </div>
            </div>
            <!-- E-mail # -->

            <!-- # Password -->
            <div class="form-group mb-4">
              {{ form_label(form.password, 'Mot de passe*') }}
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
              </div>
              <p class="form-text text-muted justify-self-end">Minimum 6 caractères</p>
            </div>
            <!-- Password # -->

          </div>
          <!-- Col # -->

        </div>
        <!-- Row # -->

        {% if form.coordinates is defined %}
          <!-- # Row -->
          <div class="row">

            <!-- # Col -->
            <div class="col">

              <!-- # Coordinates -->
              <div class="form-group mb-4">
                <h3>Adresses</h3>
                {{ form_widget(form.coordinates) }}
              </div>
              <!-- Coordinates # -->

            </div>
            <!-- Col # -->

          </div>
          <!-- Row # -->
        {% endif %}

        <!-- # Submit -->
        {{ form_widget(form.send, {'attr': {'class':'btn btn-confirm'}}, 'S\'inscrire') }}
        <!-- Submit # -->

        <!-- # Rest -->
        {{ form_rest(form) }}
        <!-- Rest # -->

      {{ form_end(form) }}
      <!-- Signup Form # -->

    </div>
    <!-- Form Container # -->

  </main>
{% endblock %}
