{# TrailWarehouse > AppBundle > Resources > views > Shop > family.html.twig #}

{% extends "TrailWarehouseAppBundle::layout.html.twig" %}


{% block title %}
  {{ parent() }} : Mon panier
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bower_components/angular/angular.min.js') }}"></script>
{% endblock %}

{% block page_main %}
  <main id="page-cart" class="page">

    <!-- # Container -->
    <div class="container bg-whitegrey px-4 py-3 mb-4">

      <div id="ng-data">
        <input type ="hidden" data-ng-init="page.SHOP_URL  = '{{ url('app_shop') }}'">
        <input type ="hidden" data-ng-init="page.API_URL   = '{{ url('app_api_product_get_all') }}'">
        <input type ="hidden" data-ng-init="page.ASSET_URL = '{{ asset('') }}'">
      </div>

      <div class="row px-0 px-lg-3 px-xl-5">
        <!-- # Cart -->
        <div id="cart" class="col-12">
          <h3>Mon panier</h3>
          {% if app.session.get('cart') is empty or app.session.get('cart').items is empty %}
            <div class="ness-block warning">Votre panier est vide</div>
          {% else %}
            {% set cart = app.session.get('cart') %}
            <!-- # Cart Items -->
            <table id="table-cart" class="ness-table mb-3">
              <thead>
                <tr>
                  <th class="">Produit</th>
                  <th class="hidden-xs-down">Photo</th>
                  <th class="hidden-sm-down">Prix unitaire</th>
                  <th class="">Quantité</th>
                  <th class="">Sous-total</th>
                </tr>
              </thead>
              <tbody>
                {% for item in cart.items %}
                <tr>
                  <td class="text-left">
                    <div class="d-flex flex-column justify-content-center">
                      <div class="">
                        <span class="font-italic">{{ item.product.family.brand.name | ucwords }}</span>
                        <span>{{ item.product.family.name | capitalize }}</span>
                      </div>
                      <span>({{ item.product.size.value | upper }} {{ item.product.size.unitShortcut }} | {{ item.product.color.name | capitalize }})</span>
                    </div>
                  </td>
                  <td class="text-center hidden-xs-down"><img class="miniature" src="{{ item.product.image is null ? asset('images/no_picture.png') : item.product.image.src }}" alt=""></td>
                  <td class="text-right hidden-sm-down">{{ item.product.price }}&nbsp;€</td>
                  <td class="text-right">{{ item.quantity }}</td>
                  <td class="text-right">{{ item.total }}&nbsp;€</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- Cart Items # -->

            <!-- # Promo Code -->
            <div class="row justify-content-between">

              <div class="col-12 col-sm-6 col-md-4">
                {{ form_start(promo_form) }}
                  <div id="cart-promo" class="form-container mx-auto mb-2  d-flex flex-column align-items-start">
                    <div class="form-group mb-4">
                      {{ form_label(promo_form.code, 'Code promo') }}
                      {{ form_widget(promo_form.code, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group mb-4">
                      {{ form_widget(promo_form.send, {'attr': {'class':'btn btn-action'}}) }}
                    </div>
                  </div>
                {{ form_end(promo_form) }}
              </div>

              <div class="col-12 col-sm-6 col-md-4">

                <!-- # Cart Total -->
                <div id="cart-total" class="d-flex flex-column align-items-end mb-4">
                  <div>Valeur du panier</div>
                  <div class="font-weight-bold lead">{{ cart.total }}&nbsp;&euro;</div>
                </div>
                <!-- Cart Total # -->

                <!-- # Cart Validation -->
                <div id="cart-validation" class="flex justify-content-end mb-2">
                  <button class="btn btn-confirm" type="button">
                    <span>Valider mon panier</span>
                    <span class="glyphicon glyphicon-ok ml-2"></span>
                  </button>
                </div>
                <!-- Cart Validation # -->

              </div>
            </div>
            <!-- Promo Code # -->


          {% endif %}
        </div>
        <!-- Cart # -->
      </div>

    </div>
    <!-- Container # -->
  </main>
{% endblock %}

{% block additional_javascripts %}
  <script src="{{ asset('js/app-common.js') }}"></script>
{% endblock %}
