{# TrailWarehouse > AppBundle > Resources > views > signin_modal.html.twig #}

<!-- Signin Modal -->
<div class="modal fade" id="cart-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <!-- # Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Contenu du panier</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Modal Header # -->

      <!-- # Modal Body -->
      <div class="modal-body">

        <!-- # Cart -->
        <div id="cart">
          {% if app.session.get('cart') is empty or app.session.get('cart').items is empty %}
            <div class="ness-block warning">Votre panier est vide</div>
          {% else %}
            {% set cart = app.session.get('cart') %}
            <!-- # Cart Items -->
            <table id="table-cart-items" class="mb-3">
              <thead>
                <tr>
                  <th class="">Produit</th>
                  <th class="hidden-xs-down">Photo</th>
                  <th class="hidden-sm-down">Prix unitaire</th>
                  <th class="hidden-xs-down">Quantité</th>
                  <th class="flex">Sous-total</th>
                </tr>
              </thead>
              <tbody>
                {% for item in cart.items %}
                <tr>
                  <td class="text-left">
                    <div class="d-flex flex-column justify-content-between justify-content-md-start">
                      <div class="">
                        <span class="font-italic">{{ item.product.family.brand.name | ucwords }}</span>
                        <span>{{ item.product.family.name | capitalize }}</span>
                      </div>
                      <span>({{ item.product.size.value | upper }} {{ item.product.size.unitShortcut }} | {{ item.product.color.name | capitalize }})</span>
                      <span class="hidden-sm-up">x{{ item.quantity }}</span>
                    </div>
                  </td>
                  <td class="text-center hidden-xs-down"><img src="{{ item.product.image is null ? asset('images/no_picture.png') : item.product.image.src }}" alt=""></td>
                  <td class="text-right hidden-sm-down">{{ item.product.price }}&nbsp;€</td>
                  <td class="text-right hidden-xs-down">{{ item.quantity }}</td>
                  <td class="text-right">{{ item.total }}&nbsp;€</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- Cart Items # -->
            <!-- # Cart Total -->
            <p class="flex justify-content-end">
              <span class="font-weight-bold">Total</span>&nbsp;:&nbsp;<span class="font-weight-bold text-info">{{ cart.total }} €</span>
            </p>
            <!-- Cart Total # -->
          {% endif %}
        </div>
        <!-- Cart # -->

      </div>
      <!-- Modal Body # -->

      <!-- # Form Container -->
      <div class="form-container">

        <!-- # Modal Footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-cancel mb-2 mb-sm-0" data-dismiss="modal">Continuer mon shopping</button>
            <button type="submit" class="btn btn-confirm">Passer la commande</button>
        </div>
        <!-- Modal Footer # -->

      </div>
      <!-- Form Container # -->

    </div>
  </div>
</div>
