{# TrailWarehouse > AppBundle > Resources > views > Shop > category.html.twig #}

{% extends "TrailWarehouseAppBundle::layout.html.twig" %}


{% block title %}
  {{ parent() }} - {{ "Catégorie : " ~ active_category.name | capitalize }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ asset('bower_components/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
{% endblock %}


{% block page_nav %}
  <!-- # Page Navigation -->
  <nav id=menu-category class="container">
    {% block menu_category %}
    {{ render(controller('TrailWarehouseAppBundle:Shop:menu', {active_category: active_category})) }}
    {% endblock %}
  </nav>
  <!-- Category Navigation # -->
{% endblock %}


{% block page_main %}
  <!-- # Main -->
  <main id="page-category" class="page">
  {% if families is empty %}

    <!-- # Alert -->
    <div class="ness-block warning mb-3">
      <span>Aucune famille existante dans {{ active_category.name | capitalize }}</span>
    </div>
    <!-- Alert # -->

  {% else %}

    <!-- # Container -->
    <div id="families-container" class="mb-4">

      <!-- # Category Name -->
      <div id="category-name" class="row no-gutters justify-content-center px-3 py-4 mb-3">
        <h2 class="border-bottom">{{ active_category.name | capitalize }}</h2>
      </div>
      <!-- Category Name # -->

      <div id="families" class="px-0 px-lg-2 px-xl-3 py-3">
      <!-- <div id="families" class="row no-gutters px-0 px-lg-2 px-xl-3 py-3"> -->

        <!-- # Card group -->
        <div class="card-group row no-gutters">
          {% for family in families %}

            <div class="col-12 col-lg-4 mb-2">

              <div class="px-1 d-flex">

                <!-- # Card -->
                <div class="card family image-container wrapper w-100">

                  <!-- # Visuel -->
                  {% if family.products|length == 0 %}

                  {% if family.visuels|length == 0 %}
                  <img class="card-img-top" src="{{ asset('images/no_picture.png') }}" alt="{{ family.brand.name ~ ' - ' ~ family.name }}">
                  {% else %}
                  <img class="card-img-top" src="{{ vich_uploader_asset(family.visuels[0], 'imageFile') }}" alt="{{ family.name ~ ' - ' ~ family.brand.name }}">
                  {% endif %}

                  {% else %}

                  <a href="{{ path('app_shop_family', { slug : family.slug }) }}">
                    {% if family.visuels|length == 0 %}
                    <img class="card-img-top" src="{{ asset('images/no_picture.png') }}" alt="{{ family.brand.name ~ ' - ' ~ family.name }}">
                    {% else %}
                    <img class="card-img-top" src="{{ vich_uploader_asset(family.visuels[0], 'imageFile') }}" alt="{{ family.name ~ ' - ' ~ family.brand.name }}">
                    {% endif %}
                  </a>

                  {% endif %}
                  <!-- Visuel # -->

                  <!-- # Card block -->
                  <div class="card-block">
                    <h4 class="card-title font-fira-sans-bold">{{ family.name }}</h4>
                    <h5 class="card-subtitle text-muted font-fira-sans-italic py-0 mb-3">{{ family.brand.name }}</h5>
                    {% if family.products|length == 0 %}
                    <p class="card-text ness-block failure"><span>Aucun produit disponible</span></p>
                    {% else %}
                    <p class="card-text ness-block info font-fira-sans-bold lead">{{ family.products[0].price|price }}</p>
                    {% endif %}
                  </div>
                  <!-- Card block # -->

                </div>
                <!-- Card # -->

              </div>


            </div>

          {% endfor %}
        </div>
        <!-- Card group # -->

      </div>
      <!-- Families # -->

    </div>
    <!-- Families Container # -->

  {% endif %}
  </main>
  <!-- # Main # -->

{% endblock %}

{% block additional_javascripts %}
  <script src="{{ asset('js/category.js') }}"></script>
{% endblock %}
