{# TrailWarehouse > AppBundle > Resources > views > Shop > category.html.twig #}

{% extends "TrailWarehouseAppBundle::layout.html.twig" %}


{% block title %}
  {{ parent() }} - {{ "Catégorie : " ~ active_category.name | capitalize }}
{% endblock %}


{% block page_nav %}
  <!-- # Page Navigation -->
  <nav id=menu-category class="container">
    {% block menu_category %}
    {{ render(controller('TrailWarehouseAppBundle:Shop:menu', {active_category: active_category})) }}
    {% endblock %}
  </nav>
  <!-- Category Navigation # -->
{% endblock %}


{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ path('app_home') }}"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ path('app_shop') }}">Boutique</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="{{ path('app_shop_category', {category: active_category.name}) }}">{{ active_category.name | capitalize }}</a>
    </li>
  </ol>
{% endblock %}


{% block page_main %}
  <main id="page-category" class="page">
  {% if families is empty %}
    <div class="ness-block warning mb-3">
      <span>Aucun produit disponible dans {{ active_category.name | capitalize }}</span>
    </div>
  {% else %}
    <!-- # Category Families -->
    <div id="families" class="container px-2 py-3 mb-4">
      <div class="row justify-content-center">
        <h2 class="border-bottom mb-4">{{ active_category.name | capitalize }}</h2>
      </div>
      <div class="row px-0 px-lg-3 px-xl-5">
      {% if families is not empty %}
        {% for family in families %}
              <div class="family col-12 col-md-6 col-lg-4 col-xl-3 py-2 px-xl-1">
                {% set url = family.name | lower | replace({' ':'-', '\'':'-'}) %}
                <a href="{{ path('app_shop_family', {family: url}) }}">
                  <h4 class="row justify-content-center">{{ family.name | capitalize }} - {{ family.brand.name | upper }}</h4>
                  <div class="image-container row justify-content-center">
                    <img src="{{ asset('images/no_picture.png') }}" alt="{{ family.name ~ ' - ' ~ family.brand.name }}" class="round img-fluid">
                  </div>
                </a>
              </div>
        {% endfor %}
      {% endif %}
      </div>
    </div>
    <!-- Category Families # -->
  {% endif %}
  </main>
{% endblock %}
