{# TrailWarehouse > AppBundle > Resources > views > Shop > category.html.twig #}

{% extends "TrailWarehouseAppBundle::layout.html.twig" %}


{% block title %}
  {{ parent() }} : {{ category | capitalize }}
{% endblock %}


{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ path('app_home') }}"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ path('app_shop') }}">Boutique</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="{{ path('app_shop_category', {category: category}) }}">{{ category | capitalize }}</a>
    </li>
  </ol>
{% endblock %}


{% block page_main %}
  <main id="page-category">
  {% if products is empty %}
    <div class="ness-block warning">
      <span>Aucun produit disponible dans {{ category }}</span>
    </div>
  {% else %}
    <ul class="ness-list">
    {% for product in products %}
      {{ product.title }}
    {% endfor %}
    </ul>
  {% endif %}
</main>
{% endblock %}
