{# TrailWarehouse > AppBundle > Resources > views > Shop > category.html.twig #}

{% extends "TrailWarehouseAppBundle::layout.html.twig" %}


{% block title %}
  {{ parent() }} : {{ family.name | capitalize }}
{% endblock %}


{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ path('app_home') }}"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ path('app_shop') }}">Boutique</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ path('app_shop_category', { slug : family.category.slug }) }}">{{ family.category.name | capitalize }}</a>
    </li>
    <li class="breadcrumb-item active">
      <a>{{ family.name | capitalize }}</a>
    </li>
  </ol>
{% endblock %}


{% block page_main %}
  <main id="page-category" class="page">

    <!-- # Category Families -->
    <div id="families" class="container bg-whitegrey px-2 py-3 mb-4">
      <div class="row px-0 px-lg-3 px-xl-5">
      {% if product is not null %}
        <div class="family col-12 col-md-6 col-lg-4 col-xl-3 py-2 px-xl-1">
          <h4 class="row justify-content-center">{{ product.family.name | capitalize }} - {{ product.family.brand.name | upper }}</h4>
          <div class="row justify-content-center">{{ product.color.name | capitalize }} - {{ product.size.value }}</div>
          {% if product.stock <= 0 %}
            <div class="text-danger">Produit indisponible</div>
          {% else %}
            <div class="text-success">En Stock : {{ product.stock }}</div>
          {% endif %}
          <span class="text-success">Prix : {{ product.price }}</span>
          <div class="image-container row justify-content-center">
            <img src="{{ asset('images/no_picture.png') }}" alt="{{ product.family.name ~ ' - ' ~ product.family.brand.name }}" class="round img-fluid">
          </div>
        </div>
      {% else %}
        <div class="ness-block warning my-3 mx-auto">
          <span>Aucun produit disponible</span>
        </div>
      {% endif %}
      </div>
    </div>
    <!-- Category Families # -->

  </main>
{% endblock %}
