{# TrailWarehouse > AppBundle > Resources > views > Shop > family.html.twig #}

{% extends "TrailWarehouseAppBundle::layout.html.twig" %}


{% block title %}
  {{ parent() }} : {{ family.name | capitalize }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bower_components/angular/angular.min.js') }}"></script>
{% endblock %}

{% block page_main %}
  <main id="page-family" class="page" data-ng-app="app">

    <!-- # Family -->
    <div class="family container bg-whitegrey px-2 py-3 mb-4" data-ng-controller="familyCtrl as page">

      <div id="ng-data">
        <input type="hidden" data-ng-init="page.SHOP_URL = '{{ url('app_shop') }}'">
        <input type="hidden" data-ng-init="page.API_URL = '{{ url('app_api_product_get_all') }}'">
        <input type="hidden" data-ng-init="page.ASSET_URL = '{{ asset('') }}'">
        <input type="hidden" data-ng-init="page.family_id = '{{ family.id }}'">
        <input type="hidden" data-ng-init="page.quantity = 1">
      </div>

      <div class="row px-0 px-lg-3 px-xl-5">

        <!-- # Product Image -->
        <div class="image-container flex justify-content-center col-12 col-xl-6 mb-3">
          <div class="">
            <img id="image"
              data-ng-src="{% verbatim %}{{ page.ASSET_URL + (page.product.image ? page.product.image.src : 'images/no_picture.png') }}{% endverbatim %}"
              alt="{% verbatim %}{{ page.product.image ? page.product.image.alt : 'illustration produit' }}{% endverbatim %}"
              title="{{ family.name }}">
          </div>
        </div>
        <!-- Product # -->

        <!-- # Product Data -->
        <div class="col-12 col-xl-6 py-2 px-xl-2">

          <!-- # Card -->
          <div class="card">
            <!-- # Card header -->
            <div class="card-header">

              <!-- # Nav Tabs -->
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#features" role="tab" data-toggle="tab">Caractéristiques</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#reviews" role="tab" data-toggle="tab">Commentaires(2)</a>
                </li>
              </ul>
              <!-- Nav Tabs # -->

            </div>
            <!-- Card header # -->

            <!-- # Card Block -->
            <div class="card-block">

              <!-- # Tab panes -->
              <div class="tab-content">

                <!-- # Pane Features -->
                <div class="tab-pane fade show active" id="features" role="tabpanel">

                  <!-- # Card Title -->
                  <div class="card-title row">
                    <h3 class="col-12 col-sm-8">
                      <span class="font-italic mr-2">{{ family.brand.name | ucwords }}</span><span>{{ family.name | capitalize }}</span>
                    </h3>
                    <div class="col-12 col-sm-4 flex justify-content-xl-end">
                      <button class="ness-btn bg-primary txt-whitegrey" type="button" name="button"
                      data-ng-click="page.addToCart(page.product, page.quantity)">
                      Ajouter au panier
                    </button>
                    </div>
                  </div>
                  <!-- Card Title # -->

                  <!-- # Card Text -->
                  <div class="card-text">

                    <!-- # Row -->
                    <div class="row">

                      <div class="col-12">
                        <!-- # Stock -->
                        <div id="stock" class="mb-3">
                          <div class="text-success" data-ng-cloak
                            data-ng-if="page.product.stock >= 10">
                            <span class="mr-2">En stock</span><span class="glyphicon glyphicon-ok"></span>
                          </div>
                          <div class="text-warning" data-ng-cloak
                            data-ng-if="page.product.stock > 0 && page.product.stock < 10">
                            <span>Plus que </span>
                            <span data-ng-bind="page.product.stock"></span>
                            <span> pièce(s) disponible(s)</span>
                          </div>
                          <div class="text-danger" data-ng-cloak
                            data-ng-if="page.product.stock == 0">
                            Produit indisponible
                          </div>
                        </div>
                        <!-- Stock # -->
                      </div>

                      <!-- # Pickers -->
                      <div class="col-12 col-md-6 col-xl-12">

                        <div class="row">
                          <!-- # Colors -->
                          <div id="colors" class="col-12 mb-3">
                            <h4>
                              <span class="font-weight-bold">Couleur</span> :
                              <span
                                data-ng-class="(page.product.color == null ? 'invisible' : '')"
                                data-ng-bind="page.product.color.name | capitalize"></span>
                            </h4>
                            {% if colors is not empty %}
                              <ul class="color-list ness-block three-d">
                                {% for color in colors %}
                                  <li title="{{ color.name | capitalize }}"
                                    data-ng-class="'color-container' + (page.product.color.id == {{ color.id }} ? ' active' : '')">
                                    <div data-id-color="{{ color.id }}"
                                      data-ng-class="
                                      'color-sample'
                                      + (page.colors && !page.colors[{{ color.id }}] ? ' disabled' : '')
                                      + (page.product.color.id == {{ color.id }} ? ' active' : '')"
                                      data-ng-click="page.getProductsByColor({{ family.id }}, {{ color.id }})"
                                      style="background:{{ color.value }}">
                                    </div>
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                          </div>
                          <!-- Colors # -->

                          <!-- # Sizes -->
                          <div id="sizes" class="col-6 mb-3">
                            <h4>
                              <span class="font-weight-bold">Taille</span> :
                              <span
                                data-ng-class="(page.product.size == null ? 'invisible' : '')"
                                data-ng-bind="
                                (page.product.size.value | capitalize)
                                + (page.product.size.unitShortcut == null ? '' : ' ' + page.product.size.unitShortcut)"></span>
                            </h4>
                            {% if sizes is not empty %}
                              <div id="sizes-container" class="ness-option-container ness-option-container-sm">
                                <!-- # Loader -->
                                <div data-ng-class="'loader-container' + (!page.loading && page.product ? ' hide' : '')">
                                  <div class="loader">
                                    <div class="block"></div>
                                    <div class="block delay"></div>
                                    <div class="block delay"></div>
                                    <div class="block"></div>
                                  </div>
                                </div>
                                <!-- Loader # -->
                                <!-- # Option -->
                                <ul data-ng-class="'ness-option-group' + (page.loading || !page.product ? ' hide' : '')">
                                  {% for size in sizes %}
                                    <li id="size-{{ size.id }}"
                                      data-ng-class="
                                      'ness-option ness-option-sm w-100'
                                      + (page.sizes && !page.sizes[{{ size.id }}] ? ' disabled' : '')
                                      + (page.product.size.id == {{ size.id }} ? ' active' : '')"
                                      data-ng-click="page.getProductBy({{ family.id }}, page.product.color.id, {{ size.id }})">
                                      <!-- # Size Option -->
                                      <div class="size-option">
                                        {{ (size.value | upper) ~ ' ' ~ size.unitShortcut ~ ' ' }}
                                      </div>
                                      <!-- Size Option # -->
                                    </li>
                                  {% endfor %}
                                </ul>
                                <!-- Option # -->
                              </div>
                            {% endif %}
                          </div>
                          <!-- Sizes # -->

                          <!-- # Quantity -->
                          <div id="quantity" class="col-6 mb-3">
                            <h4>
                              <span class="font-weight-bold">Quantité</span> :
                              <span
                                data-ng-class="(page.quantity == null ? 'invisible' : '')"
                                data-ng-bind="page.quantity"></span>
                            </h4>
                            <div class="ness-option-container ness-option-container-sm">
                              <ul data-ng-class="'ness-option-group'">
                                {% for i in range(1, 10) %}
                                <li data-ng-class="
                                  'ness-option ness-option-sm'
                                  + (page.quantity == {{ i }} ? ' active' : '')"
                                  data-ng-click="page.quantity = {{ i }}">
                                  <div class="quantity-option">
                                    {{ i }}
                                  </div>
                                </li>
                                {% endfor %}
                              </ul>
                            </div>
                          </div>
                          <!-- # Quantity -->

                        </div>

                      </div>
                      <!-- Pickers # -->

                      <!-- # Details -->
                      <div id="details" class="col-12 col-md-6 col-xl-12">

                        <div class="row">
                          <!-- # Description -->
                          <div id="description" data-ng-class="'col-12' + (page.product ? '' : ' invisible')">
                            {% if family.description is null %}
                              <p class="blockquote">Détails à venir...</p>
                            {% else %}
                              <p class="blockquote">{{ family.description }}</p>
                            {% endif %}
                          </div>
                          <!-- Description # -->
                        </div>

                      </div>
                      <!-- Details # -->



                    </div>
                    <!-- Row # -->

                  </div>
                  <!-- Card Text # -->

                </div>
                <!-- Pane Features # -->

                <!-- # Pane Reviews -->
                <div class="tab-pane fade" id="reviews" role="tabpanel">

                  <!-- # Card Title -->
                  <div class="card-title">
                    <h4 class="col-12 justify-content-center">Titre du commentaire</h4>
                    <p class="blockquote-header">Note</p>
                  </div>
                  <!-- Card Title # -->

                  <!-- # Card Text -->
                  <div class="card-text">
                    <p>Pas de commentaire pour le moment</p>
                  </div>
                  <!-- Card Text # -->

                </div>
                <!-- Pane Reviews # -->

              </div>
              <!-- Tab panes # -->


            </div>
            <!-- Card Block # -->
          </div>
          <!-- Card # -->

        </div>
        <!-- Product Data # -->

      </div>

    </div>
    <!-- Family # -->
  </main>
{% endblock %}

{% block additional_javascripts %}
  <script src="{{ asset('js/app-common.js') }}"></script>
  <script src="{{ asset('js/family.js') }}"></script>
{% endblock %}
