{# TrailWarehouse > AppBundle > Resources > views > Shop > family.html.twig #}

{% extends "TrailWarehouseAppBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} : {{ family.name | capitalize }} {{ family.brand.name | ucwords }} ({{ family.category.name | capitalize }})
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bower_components/angular/angular.min.js') }}"></script>
  <script src="{{ asset('bower_components/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
  <script src="{{ asset('bower_components/angular-images-loaded/angular-images-loaded.js') }}"></script>
{% endblock %}

{% block page_main %}
  <main id="page-family" class="page" data-ng-app="app">
    <!-- # Family -->
    <div class="family container bg-whitegrey px-2 py-3 mb-4" data-ng-controller="familyCtrl as page">

      <div id="ng-data">
        <input type ="hidden" data-ng-init="page.CART_URL  = '{{ url('app_cart') }}'">
        <input type ="hidden" data-ng-init="page.API_URL   = '{{ url('app_api_product_get_all') }}'">
        <input type ="hidden" data-ng-init="page.ASSET_URL = '{{ asset('') }}'">
        <input type ="hidden" data-ng-init="page.family_id = {{ family.id }}">
        <input type ="hidden" data-ng-init="page.quantity  = 1">
      </div>

      <div class="row px-0 px-lg-3 px-xl-5">

        <!-- # Product Image -->
        <div class="image-container flex justify-content-center col-12 col-xl-6 mb-3">
          <div class="wrapper" images-loaded="page.imgLoadedEvents">
            <img id="image"
              data-ng-src="{% verbatim %}{{ page.ASSET_URL + (page.product.imageName ? page.product.imageName : 'images/no_picture.png') }}{% endverbatim %}"
              alt="{% verbatim %}{{ page.product.image ? page.product.image.alt : 'illustration produit' }}{% endverbatim %}"
              title="{{ family.name }}">
          </div>
        </div>
        <!-- Product # -->

        <!-- # Product Data -->
        <div class="col-12 col-xl-6 py-2 px-xl-2">

          <!-- # Card -->
          <div class="card">
            <!-- # Card header -->
            <div class="card-header">

              <!-- # Nav Tabs -->
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#features" role="tab" data-toggle="tab">Caractéristiques</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#reviews" role="tab" data-toggle="tab">Commentaires(2)</a>
                </li>
              </ul>
              <!-- Nav Tabs # -->

            </div>
            <!-- Card header # -->

            <!-- # Card Block -->
            <div class="card-block">

              <!-- # Tab panes -->
              <div class="tab-content">

                <!-- # Pane Features -->
                <div class="tab-pane fade show active" id="features" role="tabpanel">

                  <!-- # Card Title -->
                  <div class="card-title row">
                    <h3 id="title" class="col-12 col-sm-8">
                      <span class="font-fira-sans-italic">{{ family.brand.name | ucwords }}</span>&nbsp;-&nbsp;<span class="">{{ family.name | capitalize }}</span>
                    </h3>

                    <!-- # Add to cart -->
                    <div class="col-12 col-sm-4 flex justify-content-xl-end">
                      <button class="ness-btn bg-primary txt-whitegrey btn-validation" type="button" name="button"
                      data-ng-click="page.addToCart(page.product, page.quantity)">
                        <span data-ng-if="page.add_in_progress == false">Ajouter au panier</span>
                        <span data-ng-if="page.add_in_progress == true">Ajout en cours...</span>
                      </button>
                    </div>
                    <!-- Add to cart # -->

                    {{ include('TrailWarehouseAppBundle:Shop:item_modal.html.twig') }}

                  </div>
                  <!-- Card Title # -->

                  <!-- # Card Text -->
                  <div class="card-text">

                    <!-- # Row -->
                    <div class="row">

                      <div class="col-6 ml-auto">
                        <div id="price" class="font-fira-sans-bold w-100 d-flex justify-content-end align-items-center">
                          <span data-ng-if="!page.quantitiesLoaded">Calcul du prix...</span>
                          <span class="lead" data-ng-bind="page.product.price + ' €'"
                            data-ng-if="page.product.price > 0"
                          ></span>
                        </div>
                      </div>

                      <div class="col-12">
                        <!-- # Stock -->
                        <div id="stock" class="mb-3">
                          <div class="text-success" data-ng-cloak
                            data-ng-if="page.product.stock >= 10">
                            <span class="mr-2">En stock</span><span class="glyphicon glyphicon-ok"></span>
                          </div>
                          <div class="text-warning" data-ng-cloak
                            data-ng-if="page.product.stock > 0 && page.product.stock < 10">
                            <span>Plus que </span>
                            <span data-ng-bind="page.product.stock"></span>
                            <span> pièce(s) disponible(s)</span>
                          </div>
                          <div class="text-danger" data-ng-cloak
                            data-ng-if="page.product.stock == 0">
                            Produit indisponible
                          </div>
                        </div>
                        <!-- Stock # -->
                      </div>

                      <!-- # Pickers -->
                      <div class="col-12 col-md-6 col-xl-12">

                        <div class="row">
                          <!-- # Colors -->
                          <div id="colors" class="col-12 mb-3">
                            <h4>
                              <span class="font-weight-bold">Couleur</span> :
                              <span
                                data-ng-class="(page.product.color == null ? 'invisible' : '')"
                                data-ng-bind="page.product.color.name | capitalize"></span>
                            </h4>
                            {% if colors is not empty %}
                              <ul class="color-list ness-block three-d">
                                {% for color in colors %}
                                  <li title="{{ color.name | capitalize }}"
                                    data-ng-class="'color-container' + (page.product.color.id == {{ color.id }} ? ' active' : '')">
                                    <div data-id-color="{{ color.id }}"
                                      data-ng-class="
                                      'color-sample'
                                      + (page.colors && !page.colors[{{ color.id }}] ? ' disabled' : '')
                                      + (page.product.color.id == {{ color.id }} ? ' active' : '')"
                                      data-ng-click="page.getProductsByColor({{ family.id }}, {{ color.id }})"
                                      style="background:{{ color.value }}">
                                    </div>
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                          </div>
                          <!-- Colors # -->

                          <!-- # Sizes -->
                          <div id="sizes" class="col-6 mb-3">
                            <h4>
                              <span class="font-weight-bold">Taille</span> :
                              <span
                                data-ng-class="(page.product.size == null ? 'invisible' : '')"
                                data-ng-bind="
                                (page.product.size.value | capitalize)
                                + (page.product.size.unitShortcut == null ? '' : ' ' + page.product.size.unitShortcut)"></span>
                            </h4>
                              <div id="sizes-container" class="ness-option-container ness-option-container-sm">
                                <!-- # Options -->
                                {% if sizes is empty %}
                                  <ul class="ness-option-group">
                                    <li class="ness-option ness-option-sm w-100">Aucune taille disponible</li>
                                  </ul>
                                {% else %}
                                  <ul data-ng-class="'ness-option-group' + (page.loading || !page.product ? ' hide' : '')">
                                    {% for size in sizes %}
                                      <li id="size-{{ size.id }}"
                                        data-ng-class="
                                        'ness-option ness-option-sm w-100'
                                        + ((page.sizes && !page.sizes[{{ size.id }}]) || (page.product.stock == 0) ? ' disabled' : '')
                                        + ((page.product.size.id == {{ size.id }}) && (page.product.stock > 0) ? ' active' : '')
                                        + ((!page.sizesLoaded) ? ' hide' : '')"
                                        data-ng-click="page.getProductBy({{ family.id }}, page.product.color.id, {{ size.id }})">
                                        <!-- # Size Option -->
                                        <div class="size-option">
                                          {{ (size.value | upper) ~ ' ' ~ size.unitShortcut ~ ' ' }}
                                        </div>
                                        <!-- Size Option # -->
                                      </li>
                                    {% endfor %}
                                  </ul>
                                {% endif %}
                                <!-- Options # -->
                                <!-- # Loader -->
                                <div data-ng-class="'loader-container' + (page.sizesLoaded ? ' hide' : '')">
                                  <div class="loader">
                                    <div class="block"></div>
                                    <div class="block delay"></div>
                                    <div class="block delay"></div>
                                    <div class="block"></div>
                                  </div>
                                </div>
                                <!-- Loader # -->
                              </div>
                          </div>
                          <!-- Sizes # -->

                          <!-- # Quantities -->
                          <div id="quantity" class="col-6 mb-3">
                            <h4>
                              <span class="font-weight-bold">Quantité</span> :
                              <span data-ng-bind="page.quantity ? page.quantity : '-'"></span>
                            </h4>
                            <div id="quantities-container" data-ng-class="
                              'ness-option-container ness-option-container-sm'
                              ">
                              <!-- # Quantity -->
                              <ul data-ng-class="'ness-option-group'">
                                <li data-ng-class="'ness-option ness-option-sm disabled'
                                  + ((page.quantities.length >= 1) ? ' hide' : '')"
                                  data-ng-if="page.quantitiesLoaded">Pas de stock</li>
                                <li
                                  data-ng-repeat="quantity in page.quantities"
                                  data-ng-class="
                                  'ness-option ness-option-sm'
                                  + (page.product.stock ? '' : ' disabled')
                                  + (page.quantity == quantity ? ' active' : '')
                                  + (!page.sizesLoaded ? ' hide' : '')"
                                  data-ng-click="page.quantity = quantity">
                                  <div class="quantity-option">
                                    <span data-ng-bind="page.product.stock ? quantity : '-'"></span>
                                  </div>
                                </li>
                              </ul>
                              <!-- Quantity # -->
                              <!-- # Loader -->
                              <div data-ng-class="'loader-container' + (page.quantitiesLoaded && page.sizesLoaded ? ' hide' : '')">
                                <div class="loader">
                                  <div class="block"></div>
                                  <div class="block delay"></div>
                                  <div class="block delay"></div>
                                  <div class="block"></div>
                                </div>
                              </div>
                              <!-- Loader # -->
                            </div>
                          </div>
                          <!-- # Quantities -->

                        </div>

                      </div>
                      <!-- Pickers # -->

                      <!-- # Details -->
                      <div id="details" class="col-12 col-md-6 col-xl-12">

                        <div class="row">
                          <!-- # Description -->
                          <div id="description" data-ng-class="'col-12' + (page.product ? '' : ' invisible')">
                            {% if family.description is null %}
                              <p class="blockquote font-fira-sans-italic ness-block info">
                                <span>Aucune description disponible...</span>
                              </p>
                            {% else %}
                              <p class="blockquote font-fira-sans-italic">{{ family.description }}</p>
                            {% endif %}
                          </div>
                          <!-- Description # -->
                        </div>

                      </div>
                      <!-- Details # -->



                    </div>
                    <!-- Row # -->

                  </div>
                  <!-- Card Text # -->

                </div>
                <!-- Pane Features # -->

                <!-- # Pane Reviews -->
                <div class="tab-pane fade" id="reviews" role="tabpanel">

                  <!-- # Card Title -->
                  <div class="card-title">
                    <h4 class="col-12 justify-content-center">Titre du commentaire</h4>
                    <p class="blockquote-header">Note</p>
                  </div>
                  <!-- Card Title # -->

                  <!-- # Card Text -->
                  <div class="card-text">
                    <p>Pas de commentaire pour le moment</p>
                  </div>
                  <!-- Card Text # -->

                </div>
                <!-- Pane Reviews # -->

              </div>
              <!-- Tab panes # -->


            </div>
            <!-- Card Block # -->
          </div>
          <!-- Card # -->

        </div>
        <!-- Product Data # -->

      </div>

    </div>
    <!-- Family # -->
  </main>
{% endblock %}

{% block additional_javascripts %}
  <script src="{{ asset('js/app-common.js') }}"></script>
  <script src="{{ asset('js/family.js') }}"></script>
{% endblock %}
