<div class="row">

  <!-- # Menu Select -->
  <nav class="hidden-md-up col-12 py-3">
    <h4 class="navbar-toggler flex justify-content-center pb-2" data-toggle="collapse" data-target="#menu-select">
      {% if active_category is not null %}
        {% if active_category.name == 'toutes' %}
          <span class="font-weight-italic">-- Toutes catégories --</span>
        {% else %}
          <span class="font-weight-italic">-- {{ active_category.name|capitalize }} --</span>
        {% endif %}
      {% else %}
        <span class="font-weight-italic">Sélectionnez une catégorie</span>
      {% endif %}
    </h4>
    <div id="menu-select" class="ness-option-container no-limit collapse">
      <ul class="ness-option-group">
        <li class="ness-option">
          <a
            {% if active_category is not null and active_category.name == 'toutes' %}
            class="active"
            {% else %}
            class="w-100"
            href="{{ path('app_shop_categories') }}"
            {% endif %}
          >
            <span>Toutes catégories</span>
          </a>
        </li>
        {% for category in categories %}
        <li class="ness-option w-100">
          <a
            href="{{ path('app_shop_category', {"slug": category.slug}) }}"
            class="w-100 {% if active_category is not null and active_category.name == category.name %} active{% endif %}">
            {{ category.name | capitalize }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
  <!-- Menu Select # -->

  <!-- # Menu List -->
  <nav class="hidden-sm-down col-md-7 col-lg-8 col-xl-9">
    <ul>
      <li>
        <a
          {% if active_category is not null and active_category.name == 'toutes' %}
          class="active"
          {% else %}
          href="{{ path('app_shop_categories') }}"
          {% endif %}
        >
          <div class="ness-mask parallelogram" data-opacity="1.0"></div>
          <span>TOUTES</span>
        </a>
      </li>
    {% for category in categories %}
      <li>
        <a
          {% if active_category is null or active_category.name != category.name %}
          href="{{ path('app_shop_category', {"slug": category.slug}) }}"
          {% endif %}
          {% if active_category is not null and active_category.name == category.name %}
          class="active"
          {% endif %}
        >
        <div class="ness-mask parallelogram" data-opacity="1.0"></div>
        <span>{{ category.name | capitalize }}</span>
        </a>
      </li>
    {% endfor %}
    </ul>
  </nav>
  <!-- # Menu List -->

  <!-- # Search Bar -->
  <nav class="d-flex col-12 col-md-5 col-lg-4 col-xl-3 mb-2 mb-md-0">
    <div id="site-search">
      <form class="ness-form-inline">
        <input class="form-control mr-2" type="search" placeholder="Rechercher...">
        <button class="ness-btn ness-btn-primary"><span class="glyphicon glyphicon-search"></span></button>
      </form>
    </div>
  </nav>
  <!-- Search Bar # -->

</div>
