<div class="row">

<!-- # Menu Select -->
<div class="col-12 hidden-md-up py-3">
  <h4 class="flex justify-content-center mb-3">Sélectionnez une catégorie</h4>
  <div class="ness-option-container no-limit">
    <ul class="ness-option-group">
      {% for category in categories %}
      <li class="ness-option w-100">
        <a href="{{ path('app_shop_category', {"slug": category.slug}) }}" class="w-100">
          {{ category.name | capitalize }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!-- Menu Select # -->

<!-- # Menu List -->
<div class="hidden-sm-down col-12 col-lg-8 col-xl-9">
  <ul>
    <li>
      <div class="ness-mask parallelogram" data-opacity="0.5"></div>
      <a
        {% if active_category is not null and active_category.name == 'toutes' %}
        class="active"
        {% else %}
        href="{{ path('app_shop_categories') }}"
        {% endif %}
      >
        TOUTES
      </a>
    </li>
  {% for category in categories %}
    <li>
      <div class="ness-mask parallelogram" data-opacity="0.5"></div>
      <a
        {% if active_category is null or active_category.name != category.name %}
        href="{{ path('app_shop_category', {"slug": category.slug}) }}"
        {% endif %}
        {% if active_category is not null and active_category.name == category.name %}
        class="active"
        {% endif %}
      >
        {{ category.name | capitalize }}
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
<!-- # Menu List -->

<!-- # Site Search -->
<div class="col-lg-4 col-xl-3 flex">
  <div id="site-search">
    <form class="ness-form-inline">
      <input class="form-control mr-2" type="search" placeholder="Rechercher...">
      <button class="ness-btn ness-btn-primary"><span class="glyphicon glyphicon-search"></span></button>
    </form>
  </div>
</div>
<!-- Site Search # -->

</div>
