{# TrailWarehouse > AppBundle > Resources > views > Shop > category.html.twig #}

{% extends "TrailWarehouseAppBundle::layout.html.twig" %}


{% block title %}
  {{ parent() }} - Recherche
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ asset('bower_components/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
{% endblock %}


{% block page_nav %}
  <!-- # Page Navigation -->
  <nav id=menu-category class="container">
    {% block menu_category %}
    {{ render(controller('TrailWarehouseAppBundle:Shop:menu')) }}
    {% endblock %}
  </nav>
  <!-- Category Navigation # -->
{% endblock %}


{% block page_main %}
  <!-- # Main -->
  <main id="page-category" class="page">
    <!-- # Container -->
    <div id="families-container" class="mb-4">

      <!-- # Category Name -->
      <div id="category-name" class="row no-gutters justify-content-center px-3 py-4 mb-3">
        <h2 class="border-bottom">Recherche</h2>
      </div>
      <!-- Category Name # -->

      {% if families is empty %}

        <!-- # Alert -->
        <div class="ness-block warning mb-3">
          <span>Aucun produit trouvé(s)</span>
        </div>
        <!-- Alert # -->

      {% else %}

        <div id="families" class="row no-gutters px-0 px-lg-2 px-xl-3 py-3">
        {% for family in families %}

            <!-- # Family -->
            <div class="family col-12 col-md-6 col-lg-4 col-xl-3 p-2">
              <div class="card px-2">
                <a href="{{ path('app_shop_family', {slug: family.slug}) }}">
                  <div class="image-container wrapper row no-gutters justify-content-center px-2">
                    <img src="{{ asset('images/no_picture.png') }}" alt="{{ family.name ~ ' - ' ~ family.brand.name }}" class="round img-fluid">
                  </div>
                  <h4 class="card-title row no-gutters justify-content-center px-2">{{ family.name | capitalize }} - {{ family.brand.name | upper }}</h4>
                </a>
              </div>
            </div>
            <!-- # Family -->

        {% endfor %}
        </div>

      {% endif %}
    </div>
    <!-- Category Families # -->
  </main>
  <!-- # Main # -->

{% endblock %}

{% block additional_javascripts %}
  <script src="{{ asset('js/search.js') }}"></script>
{% endblock %}
