{# TrailWarehouse > AppBundle > Resources > views > account.html.twig #}

{% extends 'TrailWarehouseAppBundle::layout.html.twig' %}


{% block title %}
  {{ parent() }} : Mon espace perso
{% endblock %}


{% block page_main %}
  <main id="page-account">

    {% if tabs is defined %}
      {{ include('bootstrap/nav_tabs.html.twig', { 'tabs' : tabs }) }}
    {% endif %}

    <div class="tab-content">

      <!-- # Profile -->
      <div id="mon-profil" class="tab-pane fade ness-block bg-white mx-auto show active">

        <!-- # User Form Container -->
        <div class="form-container rounded border p-4 mx-auto mb-5">

          <!-- # User Form -->
          {{ form_start(user_form) }}

          <!-- # Row -->
          <div class="row">

            <!-- # Form title -->
            <div class="col-12 mb-2">
              <h1>Modifier vos informations personnelles</h1>
            </div>
            <!-- Form title # -->

            <!-- # Form errors -->
            {{ form_errors(user_form) }}
            {% if error is not empty %}
            <div class="ness-block failure round mx-auto mb-2">
              <span>{{ error.message }}</span>
            </div>
            {% endif %}
            <!-- Form errors # -->

            <!-- # Col -->
            <div class="col-12">

              <!-- # Lastname -->
              <div class="form-group mb-4">
                {{ form_label(user_form.lastname) }}
                <div class="input-group">
                  <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                  {{ form_widget(user_form.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Nom', 'value': user.lastname }}) }}
                </div>
              </div>
              <!-- Lastname # -->

              <!-- # Firstname -->
              <div class="form-group mb-4">
                {{ form_label(user_form.firstname) }}
                <div class="input-group">
                  <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                  {{ form_widget(user_form.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Prénom', 'value': user.firstname }}) }}
                </div>
              </div>
              <!-- Firstname # -->

              <!-- # E-mail -->
              <div class="form-group mb-4">
                {{ form_label(user_form.email) }}
                <div class="input-group">
                  <div class="input-group-addon">@</div>
                  {{ form_widget(user_form.email, {'attr': {'class': 'form-control', 'placeholder': 'E-mail', 'value': user.email }}) }}
                </div>
              </div>
              <!-- E-mail # -->

              <!-- # Password -->
              <div class="form-group mb-4">
                {{ form_label(user_form.plainPassword) }}
                <div class="input-group">
                  <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                  {{ form_widget(user_form.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
                </div>
              </div>
              <!-- Password # -->

            </div>
            <!-- Col # -->

          </div>
          <!-- Row # -->

          <!-- # Row -->
          <div class="row">
            <div class="col-12 d-flex flex-column align-items-center align-items-sm-end mb-3">
              <!-- # Submit -->
              <div class="col-12 d-flex justify-content-center justify-content-sm-end align-items-baseline">
                {{ form_widget(user_form.send, {'attr': {'class':'btn btn-primary btn-validation'}}) }}
              </div>
              <!-- Submit # -->
            </div>
          </div>
          <!-- Row # -->

          {{ form_rest(user_form) }}

          {{ form_end(user_form) }}
          <!-- User Form # -->

        </div>
        <!-- User Form Container # -->

      </div>

      <!-- # Orders -->
      <div id="mes-commandes" class="tab-pane fade ness-block bg-white mx-auto">

        <!-- # Order History -->
        <div class="mx-auto mb-5">

          <h2>Historique de commandes</h2>

          {% if orders is not defined or orders is empty %}
            <!-- # No Order -->
            <div class="ness-block info mb-4">
              <span>Vous n'avez pas encore passé de commande.</span>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <span class="mr-1">Visitez notre boutique</span>&nbsp;<strong class="font-weight-normal"><a class="font-brand" href="{{ path('app_home') }}">Trail Warehouse</a></strong>
            </div>
            <!-- # No Order -->
          {% else %}
            <!-- # Orders -->
            <div class="ness-table-container">

              <table id="history-table">

                <thead>
                  <tr>
                    <th>Total</th>
                    <th>Date de commande</th>
                    <th>Date d'envoi</th>
                    <th>Date de livraison</th>
                    <th>Facture</th>
                  </tr>
                </thead>

                <tbody>
                  {% for order in orders %}
                  <tr title="Facture n°{{ (order.creationDate | date('YmdHis')) ~ order.id }}"
                    data-order-id="{{ order.id }}"
                    data-toggle="popover"
                    data-trigger="hover"
                    data-placement="top"
                    data-content="Cliquer pour obtenir une facture">
                    <td>{{ order.total|price }}</td>
                    <td>Le {{ order.creationDate|date('d/m/Y à H:i:s') }}</td>
                    <td>Le {{ order.sendingDate|date('d/m/Y à H:i:s')}}</td>
                    <td>Le {{ order.deliveryDate|date('d/m/Y à H:i:s')}}</td>
                    <td>
                      <a href="{{ path('app_order_bill', { order_id : order.id }) }}">
                        Facture n°{{ (order.creationDate | date('YmdHis')) ~ order.id }}
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>

              </table>

            </div>
            <!-- # Orders -->
          {% endif %}

        </div>
        <!-- # Order History -->

      </div>

      <!-- # Addresses -->
      <div id="mes-adresses" class="tab-pane ness-block bg-white fade mx-auto">

        <h2>Ajouter une adresse</h2>

      </div>

    </div>


  </main>

  <div id="data">
    <input id="bill-url" type="hidden" value="{{ url('app_order') }}">
  </div>

{% endblock %}

{% block additional_javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/account.js') }}"></script>
{% endblock %}
