{# TrailWarehouse > AppBundle > Resources > views > account.html.twig #}

{% extends 'TrailWarehouseAppBundle::layout.html.twig' %}


{% block title %}
  {{ parent() }} : Mon espace perso
{% endblock %}


{% block page_main %}
  <main id="page-account">

    <!-- # Form Container -->
    <div class="form-container rounded border p-4 mx-auto mb-5">

      <!-- # User Form -->
      {{ form_start(user_form) }}

        <!-- # Row -->
        <div class="row">

          <!-- # Form title -->
          <div class="col-12 mb-2">
            <h1>Modifier vos informations personnelles</h1>
          </div>
          <!-- Form title # -->

          <!-- # Form errors -->
          {{ form_errors(user_form) }}
          {% if error is not empty %}
            <div class="ness-block failure round mx-auto mb-2">
              <span>{{ error.message }}</span>
            </div>
          {% endif %}
          <!-- Form errors # -->

          <!-- # Col -->
          <div class="col-12">

            <!-- # Lastname -->
            <div class="form-group mb-4">
              {{ form_label(user_form.lastname) }}
              <div class="input-group">
                <div class="input-group-addon">@</div>
                {{ form_widget(user_form.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Nom', 'value': user.lastname }}) }}
              </div>
            </div>
            <!-- Lastname # -->

            <!-- # Firstname -->
            <div class="form-group mb-4">
              {{ form_label(user_form.firstname) }}
              <div class="input-group">
                <div class="input-group-addon">@</div>
                {{ form_widget(user_form.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Prénom', 'value': user.firstname }}) }}
              </div>
            </div>
            <!-- Firstname # -->

            <!-- # E-mail -->
            <div class="form-group mb-4">
              {{ form_label(user_form.email) }}
              <div class="input-group">
                <div class="input-group-addon">@</div>
                {{ form_widget(user_form.email, {'attr': {'class': 'form-control', 'placeholder': 'E-mail', 'value': user.email }}) }}
              </div>
            </div>
            <!-- E-mail # -->

            <!-- # Password -->
            <div class="form-group mb-4">
              {{ form_label(user_form.plainPassword) }}
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                {{ form_widget(user_form.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
              </div>
            </div>
            <!-- Password # -->

          </div>
          <!-- Col # -->

        </div>
        <!-- Row # -->

        <div class="row">
          <div class="col-12 d-flex flex-column align-items-center align-items-sm-end mb-3">
          <!-- # Submit -->
          <div class="col-12 d-flex justify-content-center justify-content-sm-end align-items-baseline">
            {{ form_widget(user_form.send, {'attr': {'class':'btn btn-confirm'}}) }}
          </div>
          <!-- Submit # -->
        </div>

        {{ form_rest(user_form) }}

      {{ form_end(user_form) }}
      <!-- User Form # -->

    </div>
    <!-- Form Container # -->

  </main>
{% endblock %}
