{# TrailWarehouse > AppBundle > Resources > views > form.html.twig #}

{% extends 'TrailWarehouseAppBundle::layout.html.twig' %}


{% block title %}
  {{ parent() }} : Inscription
{% endblock %}


{% block page_main %}
  <main id="page-signup" class="px-7">

    <!-- # Form Container -->
    <div class="form-container mx-auto mb-5">

      <!-- # Signup Form -->
      {{ form_start(form) }}
        {{ form_errors(form) }}

        <!-- # Row -->
        <div class="row">

          <div class="col-12 mb-2">
            <h1>Créez votre compte client</h1>
          </div>

          <!-- # Col -->
          <div class="col-12">

            <!-- # E-mail -->
            <div class="form-group mb-4">
              {{ form_label(form.email, 'Adresse électronique*') }}
              <div class="input-group">
                <div class="input-group-addon">@</div>
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Adresse électronique'}}) }}
              </div>
              <p class="form-text text-muted justify-self-end">Une adresse électronique valide</p>
            </div>
            <!-- E-mail # -->

            <!-- # Password -->
            <div class="form-group mb-4">
              {{ form_label(form.plainPassword.first, 'Mot de passe*') }}
              <div class="">
                {{ form_errors(form.plainPassword) }}
              </div>
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
              </div>
              <p class="form-text text-muted justify-self-end">Minimum 6 caractères</p>
            </div>
            <!-- Password # -->

            <!-- # Password Confirmation -->
            <div class="form-group mb-4">
              {{ form_label(form.plainPassword.second, 'Confirmation Mot de passe*') }}
              <div class="">
              </div>
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
              </div>
              <p class="form-text text-muted justify-self-end">Identique au mot de passe</p>
            </div>
            <!-- Password Confirmation # -->

          </div>
          <!-- Col # -->

        </div>
        <!-- Row # -->

        <!-- # Submit -->
        <div class="flex justify-content-center justify-content-sm-end">
          {{ form_widget(form.send, {'attr': {'class':'btn btn-confirm'}}) }}
        </div>
        <!-- Submit # -->

        <!-- # Rest -->
        {{ form_rest(form) }}
        <!-- Rest # -->

      {{ form_end(form) }}
      <!-- Signup Form # -->

    </div>
    <!-- Form Container # -->

  </main>
{% endblock %}
