{# TrailWarehouse > AppBundle > Resources > views > form.html.twig #}

{% extends 'TrailWarehouseAppBundle::layout.html.twig' %}


{% block title %}
  {{ parent() }} : Inscription
{% endblock %}

{% block name %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block page_main %}
  <main id="page-signup" class="px-7">

    <!-- # Form Container -->
    <div class="form-container mx-auto mb-5 two-col">

      <!-- # Signup Form -->
      {{ form_start(signup_form) }}

        <!-- # Row -->
        <div class="row">

          <!-- # Form title -->
          <div class="col-12 mb-2">
            <h1>Créer mon compte</h1>
          </div>
          <!-- Form title # -->

          <!-- # Form errors -->
          {% form_theme signup_form with ['form/form_errors.html.twig'] %}
          {% for error in errors %}
            {{ error.message }}
          {% endfor %}
          {{ form_errors(signup_form) }}
          <!-- Form errors # -->

          <!-- # Col -->
          <div class="col-12 col-lg-6">

            <!-- # E-mail -->
            <div class="form-group mb-4">
              {{ form_label(signup_form.email) }}
              <div class="input-group">
                <div class="input-group-addon">@</div>
                {{ form_widget(signup_form.email, {'attr': {'class': 'form-control', 'placeholder': 'E-mail'}}) }}
              </div>
              <p class="form-text text-muted justify-self-end">E-mail valide</p>
            </div>
            <!-- E-mail # -->

            <!-- # Password -->
            <div class="form-group mb-4">
              {{ form_label(signup_form.plainPassword.first, 'Mot de passe*') }}
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                {{ form_widget(signup_form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
              </div>
              <p class="form-text text-muted justify-self-end">Minimum 6 caractères</p>
            </div>
            <!-- Password # -->

            <!-- # Password Confirmation -->
            <div class="form-group mb-4">
              {{ form_label(signup_form.plainPassword.second, 'Confirmation Mot de passe*') }}
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                {{ form_widget(signup_form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
              </div>
              <p class="form-text text-muted justify-self-end">Identique au mot de passe</p>
            </div>
            <!-- Password Confirmation # -->

          </div>
          <!-- Col # -->

          <!-- # Col -->
          <div class="col-12 col-lg-6">

            <!-- # Lastname -->
            <div class="form-group mb-4">
              {{ form_label(signup_form.lastname) }}
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                {{ form_widget(signup_form.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
              </div>
            </div>
            <!-- Lastname # -->

            <!-- # Firstname -->
            <div class="form-group mb-4">
              {{ form_label(signup_form.firstname) }}
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                {{ form_widget(signup_form.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
              </div>
            </div>
            <!-- Firstname # -->

          </div>
          <!-- Col # -->

        </div>
        <!-- Row # -->

        <div class="row">

          <div class="col-12 d-flex justify-content-center justify-content-sm-end align-items-center mb-3">
            {{ form_widget(signup_form.termsAccepted) }}
            <label for="" class="mb-0 ml-2 mr-2">J'accepte les conditions d'utilisation</label>
          </div>

          <!-- # Submit -->
          <div class="col-12 d-flex justify-content-center justify-content-sm-end">
            {{ form_widget(signup_form.send, {'attr': {'class':'btn btn-confirm w-100'}}) }}
          </div>
          <!-- Submit # -->

        </div>

        <!-- # Rest -->
        {{ form_rest(signup_form) }}
        <!-- Rest # -->

      {{ form_end(signup_form) }}
      <!-- Signup Form # -->

      <hr>

      <div class="d-flex flex-column align-items-center">
        <div class="mb-2 font-size-8">
          J'ai déjà un compte
        </div>
        <button class="btn btn-action">
          <a href="{{ path('app_signin') }}">Accéder à mon compte</a>
        </button>
      </div>

    </div>
    <!-- Form Container # -->

  </main>
{% endblock %}
